.page {
  font-family: Verdana;
  }

  
  .header {
    background-size: cover;
    height: 100vh;
    display: flex;
    position: relative;
    margin-right: 0 0;
    /*border: 4px solid red; */
    background-image: url(/images/header.png);
    
  }

  
  .header_title{
    position:absolute;
    top: 100px;
    left: 160px;
    color: white;
    font-weight: bold;
    font-size: 45px;
  }

  .header_subtitle{
    position:absolute;
    top: 250px;
    left: 160px;
  }

  .header_subtitle_text {
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
  }

  .header_subtitle_text:last-of-type {
    margin: 0;
  }
  
  .header_btn{
    position:absolute;
    width: 200px;
    bottom: 50px;
    left: 160px;
    color: white;
    background-color: rgba(41, 36, 36, 0.9);
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  .content{
    display: flex;
    margin-top: 20px;
    border: 1px solid red;
  }

  .filter-list{
    flex-direction: column;
    display: flex;
    border: 1px solid blue;
    width: 30%;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }

  .filter-list_elem_ico{
    margin: 0;
    border: 1px solid blue;
  }


  .filter-list_elem{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40px;
    border: 1px solid green;    
    justify-content: space-evenly;
    
  }

  .filter-list_elem_name{
    
    line-height: 5px;
    
    font-weight: normal;
    
    font-size: 18px;

  }
